body {
/*	background-color: #d2b48c;*/
	margin-left: 20%;
	margin-right: 20%;
	border: 1px dotted grey;
	padding: 10px 10px 10px 10px;
/*
** The reason to give three fonts because of the browser finds that any of the fonts 
** is not supported it must have alternatives.  Always put the default like sans-serif
** to the last so that the browser has one alternative to fall back and interpret what
** it does best with the default font.
** Fonts with multiple words must go with double quotes
*/
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: small;
	line-height: 1.5em;
}

h1 {
	color: gray;
	border-bottom: 1px solid black;
	/*When I checked in IE, the h1 size was already 2em*/
	font-size: 1.7em
}

blockquote {
	background-color: yellow;
	border: 1px dashed white;
	color: maroon;
	font-size: 90%;
	font-style: italic;
}

p {
	text-align: justify;
}

address {
	font-family: serif;
}

/*
** BELOW ARE MORE SPECIFIC ONE'S WITH ASSOCIATED CLASS
*/

/*
** Multiple elements can also be added separated by comma.
** If there are many elements with class evilworld, we can just declare it as .evilworld
** This will ensure that the styles are applied to all the elements that are under the class
*/
blockquote.evilworld {
	color: yellow;
	background-color: red;
}

h4.date {
	text-decoration: underline;
}
